################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/html2word/bin/Debug/netcoreapp3.1
/html2word/obj
